/.vscode/

# python
/.venv/
__pycache__/
*.egg-info
*.so

# build artifacts
udf-plugin-builder/build/
udf-plugin-builder/out/
udf-plugin-builder/test/build/
udf-plugin-builder/test/unary_test/build
udf-plugin-builder/test/load_another/build
udf-plugin-builder/test/oneof_test/build
udf-plugin-builder/test/nested_test/build
udf-plugin-builder/test/log.*
udf-plugin-viewer/build
udf-plugin-viewer/udf_plugin_viewer/descriptors.py
udf_converter/build
udf_library/build

# tests
/build/
