py/common/__pycache__/
udf-plugin-builder/build/
udf-plugin-builder/out/
udf-plugin-builder/test/build/
udf-plugin-builder/test/unary_test/build
udf-plugin-builder/test/load_another/build
udf-plugin-builder/test/oneof_test/build
common/build/
common/tsurugi_udf_common.egg-info/
udf-plugin-builder/udf_plugin_builder.egg-info/
udf-plugin-viewer/build
udf-plugin-builder/tests/__pycache__
udf-plugin-viewer/udf_plugin_viewer/descriptors.py
udf-plugin-viewer/udf_plugin_viewer/*.so
udf_converter/build
udf_converter/udf_converter.egg-info
udf_library/build
udf_library/tsurugi_udf_library.egg-info
udf_library/tsurugi/udf/converter/__pycache__/
udf_library/tsurugi/udf/model/__pycache__/
